#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html { 
  font-family: 'Andale Mono', monospace;
}

h1 {
  margin-bottom: 36px;
  font-weight: 800;
}

.search {
  width: 85%;
  height: 36px;
  border-radius: 18px;
  border: none;
  margin-bottom: 30px;
  text-align: center;
  background-color: lightgrey;
  font-size: 20px;
  font-family: 'Andale Mono', monospace;
}

.index-image {
  opacity: 0.50;
  margin-top: 48px;
  width: 400px;
  height: auto;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.loader {
  margin-top: 150px;
  margin-bottom: 166px;
  animation: MoveUpDown 1s linear infinite;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.movie-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  width: 100%;
  padding: 0px;
}

.movie {
  max-width: 100%;
  margin: 16px;
  text-decoration: none;
}

.movie h3 {
  color: black;
  text-decoration: none;
}

.movie:hover {
  transform: scale(1.1);
}

.nav-item {
  margin: 12px;
  font-size: 20px;
  text-decoration: none;
  color: grey;
}

.nav-item:hover {
  margin: 12px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

nav a.active {
  text-decoration: underline;
  font-weight: 600;
}

.details {
  margin-top: 45px;
  width: 100%;
  display: flex;
}

.text-details {
  width: 100%;  
}

.movie-info {
  margin: 24px;
}

.details-span {
  display: inline-block;
  width: 100%;
}

.details-span p {
  margin: 24px;
  display: inline-block;
  overflow: hidden;
  font-size: 20px;
  color: grey;
}
